{% extends 'farmersapp/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <title>Cattegories</title>
    {% block content %}
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <button onclick="history.back()">Go Back</button>

    <h1 class="my_areas_cl">Category Form</h1>
    <form action="{% url 'profile:category_new' %}?next={{ request.path|urlencode }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}  
        <a href="{% url 'profile:category_new' %}?next={{ request.path|urlencode }}">➕ </a>
        <button type="submit"  onclick="history.go(-3)"">Submit</button>
    </form>


      {{ categories }}  
</body>
{% endblock %}
</html>